body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    border-radius: 10px;
    border: 2px solid black;
    border-bottom: 5px solid;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    height: 60px;
    display: flex;
    align-items: center;
}

a {
    transition: transform 0.2s;
    vertical-align: middle;
    color: black;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

a:hover {
    transform: scale(1.1);
}

hr { 
    display: block; height: 1px;
    border: 0; border-top: 1px solid black;
    margin: 1em 0; padding: 0; 
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea,
select {
    border-radius: 10px;
    border: 2px solid black;
    border-bottom: 5px solid black;
    height: 30px;
    width: 500px;
    font-size: 16px;
    padding-left: 10px;
}

input[type="submit"] {
    transition: transform 0.1s, box-shadow 0.1s;
    border-radius: 10px;
    border: 2px solid black;
    border-bottom: 5px solid black;
    padding: 10px;
    background-color: #a8ffac;
    font-size: 17px;
    cursor: pointer;
}


input[type="reset"] {
    transition: transform 0.1s, box-shadow 0.1s;
    border-radius: 10px;
    border: 2px solid black;
    border-bottom: 5px solid black;
    padding: 10px;
    background-color: #ffa8a8;
    font-size: 17px;
    cursor: pointer;
}

button {
    transition: transform 0.1s, box-shadow 0.1s;
    border-radius: 10px;
    border: 2px solid black;
    border-bottom: 5px solid black;
    padding: 7px;
    background-color: white;
    font-size: 17px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px black;
}
input[type="submit"]:active,
input[type="reset"]:active,
button:active {
    transform: translateY(0px);
    box-shadow: 0px 0px black;
}
label {
    font-size: 17px;
}

div.compact {
    border-radius: 10px;
    border: 2px solid black;
    border-bottom: 5px solid black;
    margin: 5px;
    padding: 10px;
    background-color: white;
    color: black;
    display: inline-block;
}
div.large {
    border-radius: 10px;
    border: 2px solid black;
    border-bottom: 5px solid black;
    margin: 5px;
    padding: 10px;
    background-color: white;
    color: black;
}
div.noborder {
    border-radius: 10px;
    border: 2px;
    margin: 5px;
    padding: 10px;
    background-color: white;
    color: black;
    display: inline-block;
}